footer{
    width: 100vw;
    min-height: 25rem;
    color: white;
    background-color: black;
    padding: 2rem;
    margin-top: 2rem;

    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.services{
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
}

.services >h2{
    text-decoration: underline;
    color: crimson;
}

.services > p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services > p >svg{
    font-size: 1.5rem;
    color: chartreuse;
    margin-right: 5px;
}

.contacts{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contacts > p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

  .contacts > p >svg{
    font-size: 1.5rem;
    color: chartreuse;
    margin-right: 5px;
}


.social-media{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.social_media-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.icon_color{
    color: aqua;
    background-color: rgb(3, 22, 63);
    padding: 0.5rem;
    border-radius: 50%;
}
.icon{
    font-size: 2rem;

}

@media screen and (max-width:800px){
    footer{
        height: max-content;
        padding: 2rem;
    }

    .services{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
    }

    .services >h2 , .contacts>h2 , .social-media > h2{
        font-size: 1rem;
    }
    .services > p{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
    }

    .contacts > p{
        font-size: 8px;


    }
    .social-media{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
    }
    
    .social_media-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    
    }
}

@media screen and (max-width:1050px){
    .services >p {
        font-size: 12px;
    }

    .contacts >p {
        font-size: 12px;
    }
}