.display{
    position: relative;
    width: 100vw;
    height: 50rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.image-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

.bg-img{
    position: absolute;
    top: 0;
    height: 90%;

}

.display::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #ffffff10;
    
}
.info{
    padding: 1rem;
    width: 100vw;
    position: absolute;
    z-index: 9;
    bottom: 15rem;
    color: white;
    text-align: center;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info > h2{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.info > button{
    font-size: 1.1rem;
    font-weight: 800;
    padding: 1rem 2rem;
    color: white;
    background-color: crimson;
    border-radius: 50px;
}
.info > button:hover{
    color: crimson;
    background-color: white;
}

@media screen and (max-width:800px) {
    .display{
        position: relative;
        width: 100vw;
        height: 40rem;
        box-sizing: border-box;
    }

    .bg-img{
        position: absolute;
        margin: auto;
        height: 95%;
    
    }
    .info > h2{
        font-size: 1.2rem;
        font-weight: 700;
    }
}

@media screen and (max-width:1050px) {
    .display{
        position: relative;
        width: 100vw;
        height: 40rem;
        box-sizing: border-box;
    }
    .info > h2{
        font-size: 1.7rem;
        font-weight: 700;
    }
}