*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --gradient-color: linear-gradient(rgb(247, 33, 51) rgb(173, 97, 9));


  --container-height: 100%;
  --font-size:12px;


    /* containers */


  --container-width-sscreen:100%;
  --container-width-mscreen:96%;
  --container-width-lscreen:75%;
}


/* .....GENERAL..... */

body{
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text{
  background-color: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
}

a{
  text-decoration: none;
}
h1,h2,h3,h4,h5{
   font-weight: 500;
}


img{
  width: 100%;
  display: block;
  object-fit: cover;
}


.container{
  width: var(--container-width-lscreen);
  margin:0 auto;
}



/* ..................MEDIA QUERIES............ */


@media  screen and (max-width:800px) {
  .container{
    width: var(--container-width-sscreen);
    margin:  0 auto;
  }

  
}


@media  screen and (max-width:1050px) {
  .container{
    width: var(--container-width-mscreen);
    margin:  0 auto;
   
  }

}